/* You can add global styles to this file, and also import other style files */


html {
  overflow: hidden;
  background-color: rgb(220, 247, 228);
}

.button{
  height: 32px;
  background-color: rgb(46, 183, 53);
  border: none;
  font-weight: 700;
  color: aliceblue;
}