/* You can add global styles to this file, and also import other style files */


html {
  overflow: hidden;
  
  // background-color: rgb(213, 223, 243);
}
html, body{
  display: contents;
  height: 100%;
  width: 100%;
}
.button{
  height: 32px;
  background-color: cornflowerblue;
  border: none;
  font-weight: 700;
  color: aliceblue;
}



