 html, body{
    display: contents;
 }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  justify-content: center;

  li {
      margin: 2rem;
      font-size: 3rem;
      text-decoration: underline;
      cursor: pointer;
  }
}

h2 {
    text-align: center;
}

.container {
    text-align: center;
}


.button{
    height: 32px;
    background-color: cornflowerblue;
    border: none;
    font-weight: 700;
    color: aliceblue;
}



